@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  color: $bodyFontColor;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
  color: #676a6c;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #e3e3e3, #ddd, #e3e3e3);
}


// 详情
// reset el-card
.el-card {
  border-radius: 0;
  color: $bodyFontColor;
}

.detail-card {
  padding-bottom: 20px;
}

.el-card__header {
  background: $mainColor;
  color: #fff;
  border-radius: none;
  padding: 12.5px 15px;
  position: relative;

  .icon {
    position: absolute;
    top: 8.5px;
    right: 12px;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../assets/images/qq-17.png) no-repeat;
    background-size: contain;
  }
}

.detail-card__body {
  text-align: center;

  .row {
    padding-top: 20px;
  }

  .row1 {
    margin-bottom: 30px;
  }

  .sum {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
  }
}

.detail-card__body--yj {
  font-size: 14px;

  .pagination {
    margin-top: 20px;
  }
}

.detail-card__body--userinfo {
  text-align: left;
  p {
    margin-bottom: 20px;
  }
}

.detail-card--user {
  padding-left: 0;
}

.detail-card__body--user {
  .th {
    padding-top: 15px;
    text-align: center;
    margin: auto;
    overflow: hidden;

    .el-button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .th img {
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

  .meta {
    position: relative;
    padding-left: 15px;
    overflow: hidden;
  }

  .meta > div {
    position: absolute;
    top: 0;
    right: 0;
  }

  .meta > p.name {
    font-size: 18px;
    color: $mainColor;
    font-weight: bold;
  }

  .meta > div .el-button {
    padding: 5px 10px;
  }
}

.detail-card__body--counselor {
  text-align: left;

  .th {
    padding-top: 17px;
  }

  .th img {
    display: blcok;
    width: 100%;
    margin: auto;
  }

  .meta {
    padding-left: 15px;
    position: relative;
  }

  .meta .name {
    color: $mainColor;
    font-weight: bold;
    font-size: 16px;
  }

  .meta > div {
    position: absolute;
    top: -5px;
    right: 0;
  }

  .meta > div .el-button {
    padding: 5px 10px;
  }

  .exlink {
    margin-top: 10px;
    text-align: right;
  }

  .exlink:hover {
    cursor: pointer;
  }
}

.detail-card__footer {
  border-top: 1px solid #e3e3e3;
}

.counselor-detail-container {
  padding: 20px;
  background: #f6f6f6;
}

.qq {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.qq-19 {
  background: url(../assets/images/qq-19.png) no-repeat;
  background-size: contain;
}

.qq-20 {
  background: url(../assets/images/qq-20.png) no-repeat;
  background-size: contain;
}

.qq-21 {
  background: url(../assets/images/qq-21.png) no-repeat;
  background-size: contain;
}

.qq-23 {
  background: url(../assets/images/qq-23.png) no-repeat;
  background-size: contain;
}

.qq23-small {
  height: 18px;
  width: 18px;
  background: url(../assets/images/qq-23.png) no-repeat;
  background-size: contain;
}


.qq-24 {
  background: url(../assets/images/qq-24.png) no-repeat;
  background-size: contain;
}

.qq-25 {
  background: url(../assets/images/qq-25.png) no-repeat;
  background-size: contain;
}

.qq-26 {
  background: url(../assets/images/qq-26.png) no-repeat;
  background-size: contain;
}

.qq-27 {
  background: url(../assets/images/qq-27.png) no-repeat;
  background-size: contain;
}

.qq-28 {
  background: url(../assets/images/qq-28.png) no-repeat;
  background-size: contain;
}

.qq-31 {
  height: 20px;
  width: 20px;
  background: url(../assets/images/qq-31.png) no-repeat;
  background-size: contain;
}

.qq-34 {
  height: 20px;
  width: 20px;
  background: url(../assets/images/qq-34.png) no-repeat;
  background-size: contain;
}

.qq-38 {
  height: 20px;
  width: 20px;
  background: url(../assets/images/qq-38.png) no-repeat;
  background-size: contain;
}

.el-dialog__header {
  // text-align: center;
  // background: $mainColor;
  // color: white;
}

// 弹窗
.edit-modal--choose .wrap {
  margin: auto;
  text-align: center;
  padding: 40px;
}

.edit-modal--rechoose .row-filter .el-button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.edit-modal--rechoose .col-phone .el-input__inner {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.edit-modal--rechoose .lists-wrap {
  // overflow-x: hidden;
  overflow: scroll;
  height: 260px;

  .el-radio {
    width: 100%;
    position: relative;
    height: 68px;
    margin-bottom: 20px;

    .el-radio__input {
      float: right;
      margin-top: 14px;
    }
  }

  .el-radio.is-bordered.is-checked {
    border-color: $mainColor;
  }

  .el-radio__input.is-checked+.el-radio__label {
    color: $mainColor;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: $mainColor;
    background: $mainColor;
  }

  .el-radio .item {
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 12px;
    left: 20px;

    > div {
      float: left;
    }

    > div.th {
      margin-top: 3px;
    }

    > div.meta {
      margin-left: 20px;
    }

    > div.meta div {
      margin-bottom: 5px;
    }
  }
}

.grid-content {
  padding-left: 13px;
  // padding: 0 10px;
}

.padding-left-none {
  padding-left: 0 !important;
}